doctype html
html
  head
    title
      | RamensBlog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
  body
    .app-title.navbar.navbar-expand-md.navbar-light.bg-light
      .navbar-brand 🍜ラーメンBLOG🍜
    ul.nav.justify-content-end
      - if user_signed_in?
        h5 現在、#{current_user.name}さんがログインしています。
        li.nav-item= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link'
      - else
        li.nav-item= link_to '新規作成', signup_path, class: 'nav-link'
        li.nav-item= link_to 'ログイン', login_path, class: 'nav-link'

    .container
      - if flash.notice.present?
        .alert.alert-success= flash.notice
      = yield